<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Transcription</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    
    <style>
        h1, h2, h3, h4, h5, h6 {
            /* style headers */
        }

        p {
            /* style paragraphs */
        }

        ul {
            /* style unordered lists */
        }

        li {
            /* style list items */
        }

        /* ... and any other styles you wish to add ... */

    </style>
</head>

<body class="bg-gray-100 h-screen antialiased leading-none">

    <!-- Container -->
    <div class="container mx-auto p-4 md:p-8 max-w-lg">

        <!-- Title -->
        <h2 class="text-2xl font-semibold mb-4 text-gray-700">Enter YouTube URL</h2>

        <!-- Form -->
        <form id="transcription-form" class="bg-white p-6 rounded shadow-md">
            <div class="mb-4">
                <input type="text" name="url" class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:border-blue-500" placeholder="Enter YouTube URL" required>
            </div>
            <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue" value="Transcribe">
        </form>

        <!-- Video Preview -->
        <div id="video-preview" class="mt-4" style="display: none;">
            <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
        </div>

        <!-- Progress Bar -->
        <div id="progress-container" class="my-6">
            <div id="progress-bar" class="bg-green-500 h-6 text-center text-white leading-6 rounded" style="width: 0%;">0%</div>
        </div>

        <!-- Download Link -->
        <div id="download-link-container" class="mt-4" style="display: none;">
            <h3 class="text-xl font-semibold mb-2 text-gray-700">Your transcript is ready!</h3>
            <a id="download-link" class="text-blue-500 hover:text-blue-700 underline" href="#">Download Transcript</a>
        </div>        

        <!-- Transcript Display -->
        <div id="transcript-display" class="bg-white p-6 rounded shadow-md mt-4" style="display: none;">
            <h3 class="text-xl font-semibold mb-2 text-gray-700">Transcript</h3>
            <p id="transcript-content" class="text-gray-700"></p>
        </div>
    </div>

    <script>
        function getYoutubeEmbedUrl(url) {
            const regex = /(?:https?:\/\/)?(?:www\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?v=)?([\w\-]+)/;
            const matches = url.match(regex);
            return matches ? `https://www.youtube.com/embed/${matches[1]}` : '';
        }

        document.getElementById('transcription-form').addEventListener('submit', function(e) {
            e.preventDefault();
            const videoUrl = e.target.url.value;

            // Set the video preview
            const videoIframe = document.getElementById('video-preview').querySelector('iframe');
            videoIframe.src = getYoutubeEmbedUrl(videoUrl);
            document.getElementById('video-preview').style.display = 'block';

            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.emit('start_transcription', { url: videoUrl });

            document.getElementById('progress-container').style.display = 'block';

            socket.on('progress', function(data) {
                const progressBar = document.getElementById("progress-bar");
                progressBar.textContent = data.data + '%';
                progressBar.style.width = data.data + '%';
                
                if (data.data === 100) {
                    // You can add additional actions to be taken when the progress reaches 100%, like displaying a message.
                }
            });

            socket.on('done', function(data) {
                console.log("Received done event", data);
                var downloadLinkContainer = document.getElementById('download-link-container');
                var downloadLink = document.getElementById('download-link');
                var transcriptContent = document.getElementById('transcript-content');
                var transcriptDisplay = document.getElementById('transcript-display');

                // Fetch the transcript content
                fetch("/download_page/" + data.data)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(json => {
                        console.log("Fetched transcript", json.transcript);
                        
                        // Convert plain text transcript to Markdown formatted text
                        let sentences = json.transcript.split('\n\n');  // Assuming two newlines separate sentences
                        let markdownText = sentences.map(sentence => `- ${sentence}`).join('\n');

                        // Render the Markdown formatted text as HTML
                        transcriptContent.innerHTML = marked.parse(markdownText);
                        
                        transcriptDisplay.style.display = 'block';
                    })
                    .catch(error => {
                        console.log('Fetch error: ', error.message);
                    });

                downloadLink.href = "/download_page/" + data.data;
                downloadLinkContainer.style.display = 'block';
            });

            socket.on('transcription_done', (data) => {

                const duration = data.duration;

                let percent = 0;
                const interval = setInterval(() => {
                percent++;
                document.getElementById("progress-bar").style.width = percent + '%';
                if(percent >= 100) clearInterval(interval);
                }, duration/100);

            });  



        });
    </script>
</body>

</html>
